{% extends 'base.html' %} 
{% block title %} Home|User SignUp {% endblock title %}
{% block style %} {% endblock style %} 
{% block body %}
<div class="container mt-5">
  <div class="col-md-8 container rounded border border-light p-3 bg-light">
    <h2 class="text-center">Profile</h2>
     <hr/>
      <form method="POST" action="{% url 'profile_update' %}">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        {{ field.errors }}
        <div class="form-group">
            <label for="{{field.name}}">{{ field.label_tag }}</label>
            {{field}}
            <small id="helpId" class="text-muted">{{field.error}}</small>
        </div>
      {% endfor %}
      <div class="text-center">
        <input type="submit" value="Update" class="btn btn-primary w-25" />
      </div>
    </form>
  </div>
</div>
{% endblock body %}