{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Blog | Email Password Reset Link
{% endblock title %}

{% block body %}
<div class="container col-md-6 offset-md-3 bg-light my-4 border rounded border-secondary p-3">
    <form method="POST" action={% url 'password_reset' %}>
    <h1 class="text-justify text-center">Email Password Reset Link</h1>
    {% csrf_token %}
    {{form.as_p}}
    <div class="text-center">
        <input type="submit" value="Reset Password" class="btn btn-primary w-25">
    </div>
    </form>
</div>
{% endblock body %}