{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Blog | Update Profile
{% endblock title %}
{% block body %}
<div class="container col-md-6 offset-md-3 bg-light my-4 border rounded border-secondary p-3">
    <form method="POST" action="" enctype="multipart/form-data">
    <h1 class="text-justify text-center">User Profile</h1>
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <div class="text-center">
        <input type="submit" value="Update Profile" class="btn btn-primary w-25">
    </div>
    </form>
</div>
{% endblock body %}