{% extends 'base.html' %} 
{% load static %}
{% block title %} Home|About {% endblock title %} 
{% block style %} 
{% endblock style %}
<style rel="{% static 'css/card_checkout.css' %}"/>
{% block body %}
<div class="container mt-5">
  <div class="col-md-10 container">
    <form method="POST" action="{% url 'checkout' %}" id="payment-form">
        {% csrf_token %}
        <input type="hidden" id="cart_items" name="cart_items">
        <input type="hidden" id="total" name="total">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <h6>User Details</h6>
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body row">
                <div class="form-group col-md-6">
                  <label for="">First name</label>
                  <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First name" aria-describedby="helpId" value={{user.first_name}} readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Last name</label>
                  <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last name" aria-describedby="helpId" value={{user.last_name}} readonly>
                </div>
                <div class="form-group col-md-12">
                    <label for="">Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Email" aria-describedby="helpId" value={{user.email}} readonly>
                </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  <h6>Shipping Address</h6>
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="form-group col-md-12">
                    <label for="">Address</label>
                    <input type="text" name="address" id="address" class="form-control" placeholder="Address" aria-describedby="helpId">
                </div>
                <div class="form-group col-md-12">
                    <label for="">City</label>
                    <input type="text" name="city" id="city" class="form-control" placeholder="City" aria-describedby="helpId">
                </div>
                <div class="form-group col-md-12">
                    <label for="">State</label>
                    <input type="text" name="state" id="state" class="form-control" placeholder="State" aria-describedby="helpId">
                </div>
                <div class="form-group col-md-12">
                    <label for="">Zipcode</label>
                    <input type="number" name="zipcode" id="zipcode" class="form-control" placeholder="Address" aria-describedby="helpId">
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  <h6>Payment Option</h6>
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="custom-control custom-radio">
                    <input id="cod" name="paymentMethod" type="radio" class="custom-control-input cod" id="cod" ckecked="false" required="" value="COD">
                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input cr_bd" id="cr" ckecked="false" required="" value="CREDIT">
                    <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input cr_bd" id="db" ckecked="false" required="" value="DEBIT">
                    <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                <div id="card_form">
                  
                </div>
                <div class="form-group col-md-4 container my-3">
                    <button class="btn btn-primary btn-sm btn-block"  id="checkout-button" name="checkout-button">Continue to checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
    
  </div>
</div>
{% endblock body %}



{% block js %}

<script>
var card_div = document.createElement('div');

var card_script = document.createElement('script');
card_script.src='https://js.stripe.com/v3/';
document.head.appendChild(card_script);

var cr_db = document.querySelector('.cr_bd');
var cod = document.querySelector('.cod');


cr_db.addEventListener('click', function(){
card_div.innerHTML=`<div class="form-group card_details w-50">
                    <label for="card-element">Credit or debit card</label>
                    <div id="card-element" class="border border-light p-2">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                      <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                  </div>`;
  document.getElementById('card_form').appendChild(card_div);
  //window.location.reload('card_form');
  
 
    strip_load();

});

cod.addEventListener('click', function(){
  // var asd = document.querySelector('input[name="paymentMethod"]');
  // alert(asd.value)
  
    strip_load();
  
  
});


function strip_load(){
// Set your publishable key: remember to change this to your live publishable key in production
// See your keys here: https://dashboard.stripe.com/account/apikeys
var stripe = Stripe("pk_test_51I8iATIqXYelWJBBcOvvZnan7JzjjSEcuJrl7WVrhpDLsTJ9NFVI6oOEOGjtAqSTzmZ9smu9ICfJA5OfigXEQDLO00lPVeylu5");

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
var rb = document.querySelector('#cod');
     
if(rb.checked){
         card.mount('#card-element');
        //card.destroy();
        
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();
          
          stripe.createToken(card).then(function(result) {
            if (result.error) {
              if(rb.checked){
                alert(rb.checked)
                form.submit();
              }
              else{
                alert(rb.checked)
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
              }
          } else {
          //var form = document.getElementById('payment-form');
          form.submit();
          }
        });
      });
    }
      else{
        alert(rb.checked)
        card.mount('#card-element'); 
          // Handle real-time validation errors from the card Element.
          card.on('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
              displayError.textContent = event.error.message;
            } else {
              displayError.textContent = '';
            }
          }); 


        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the user if there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        });

      // Submit the form with the token ID.
      function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
      }
    }
  }

</script>


<script>
    $(function(){
      $("#card-element input[type=text]").addClass("form-control");
       $("#cod").click(function(){
          $(".card_details").hide();
        });
        $(".cr_bd").click(function(){
          $(".card_details").show();
        });
        
        $('#checkout-button').click(function(){
            cart_items = JSON.parse(localStorage.getItem('total_items'))
            item_price =cart_items.map(function(value,index){
                        let t=0;
                        t +=parseInt(value['price'])
                        return t;
                    });
            price_total = item_price.reduce((a,b)=>a+b,0);
            console.log(JSON.stringify(cart_items))
            $('#cart_items').val(JSON.stringify(cart_items));
            $('#total').val(price_total);
            //localStorage.clear()
    });
    });
</script>
{% endblock js %}
