{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  WelCome to Awasome Cart
{% endblock title %}

{% block css %}
<style>

  .card-body{
    padding:4px;
  }

</style>
{% endblock css %}
{% block js %}
  <script>

  if(localStorage.getItem('cart')==null){
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    cartupdate(cart);
  }

  //$('.cart').click(function(){
    $('.spanpr').on('click','button.cart', function(){
    var idstr = this.id.toString();
    if(cart[idstr]!=undefined){
      qty = cart[idstr][0]+1;
      //itmnm = document.getElementById('name'+idstr).innerHTML;
      //cart[idstr][0] = [qty,itmnm];
    }
    else{
      qty = 1;
    itmnm = document.getElementById('name'+idstr).innerHTML;
    price = document.getElementById('itemprice'+idstr).innerHTML;
      cart[idstr]=[qty,itmnm,parseInt(price)];
    }
    
    cartupdate(cart);

  });

function cartclear(){
    cart = JSON.parse(localStorage.getItem('cart'));
    for(var item in cart){
      document.getElementById('span'+item).innerHTML = "<button id='"+item+"' class='btn btn-primary cart'>{{ shopdata.AddToCart }}</button>";
    }
    localStorage.clear();
    cart = {};
    cartupdate(cart);
  }

updatepanel(cart);
    function updatepanel(cart){
      var panel = '';
      panel = panel +"<br/><div class='container'>";
      var i = 1;
      for(var item in cart){
        panel = panel+"<b>"+i+". </b>";
        panel = panel+ document.getElementById('name'+item).innerHTML+ ",  kwty : "+ cart[item][0]+ '<br>';
        i = i+1;
        console.log(panel);

      }
      //document.getElementById('header-cart-content').innerHTML = panel;
      panel = panel+"</div><div class='header-cart-buttons flex-w w-full'> <button class='flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10' onclick='cartclear()'>Clear Cart</button><a href='/shop/checkout' class='flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10'>Check Out</a></div>";
      document.getElementById('header-cart-content').innerHTML = panel;
    }

  function cartupdate(cart){
    totalitem = 0
    for (var item in cart){
      totalitem = totalitem+cart[item][0];
      document.getElementById('span'+item).innerHTML = "<button id='minus"+item+"' class='btn btn-primary minus'>-</button> <span id='val"+item+"'>"+cart[item][0]+"</span><button id='plus"+item+"' class='btn btn-primary plus'>+</button>";
    }
        localStorage.setItem('cart',JSON.stringify(cart));
    document.getElementById('maincart').innerHTML = totalitem;
    document.getElementById("democart").setAttribute("data-notify", totalitem); 
    updatepanel(cart);
  }
$('.spanpr').on('click','button.minus',function(){
  x = this.id.slice(7,);
  cart['pr'+x][0] = cart['pr'+x][0]-1;
  cart['pr'+x][0] = Math.max(0,cart['pr'+x][0]);
  document.getElementById('valpr'+x).innerHTML = cart['pr'+x][0];
  cartupdate(cart);
});
$('.spanpr').on('click','button.plus',function(){
    x = this.id.slice(6,);
  cart['pr'+x][0] = cart['pr'+x][0]+1;
  document.getElementById('valpr'+x).innerHTML = cart['pr'+x][0];
  cartupdate(cart);
});

  </script>
{% endblock js %}
<!-- Slider -->
{% block body %}
    <section class="section-slide">
    <div class="wrap-slick1">
      <div class="slick1">
        <div class="item-slick1" style="background-image: url({% static 'images/slide-01.jpg' %});">
                  <div class="container h-full">'
            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
              <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                <span class="ltext-101 cl2 respon2">
                  Women Collection 2018
                </span>
              </div>
                
              <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                  NEW SEASON
                </h2>
              </div>
                
              <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %});">
          <div class="container h-full">
            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
              <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                <span class="ltext-101 cl2 respon2">
                  Men New-Season
                </span>
              </div>
                
              <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                  Jackets & Coats
                </h2>
              </div>
                
              <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %});">
          <div class="container h-full">
            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
              <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                <span class="ltext-101 cl2 respon2">
                  Men Collection 2018
                </span>
              </div>
                
              <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                  New arrivals
                </h2>
              </div>
                
              <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="bg0 p-t-23 p-b-140">
    <div class="container">
      <div class="p-b-10">
        <h3 class="ltext-103 cl5">
          Product Overview
        </h3>
      </div>

      <div class="flex-w flex-sb-m p-b-52">
        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
          <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
            All Products
          </button>
        </div>
        
        <!-- Search product -->
        <div class="dis-none panel-search w-full p-t-10 p-b-15">
          <div class="bor8 dis-flex p-l-15">
            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
              <i class="zmdi zmdi-search"></i>
            </button>

            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
          </div>  
        </div>
      </div>

      <div class="row isotope-grid">
        {% for item in allProds %}
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-pic hov-img0">
              <img src="/media/{{item.image}}" class="card-img-top img-thumbnail" alt="IMG-PRODUCT">

              <!--<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                Quick View
              </a> -->
            </div>

            <div class="block2-txt flex-w flex-t p-t-14">
              <div class="block2-txt-child1 flex-col-l m-auto">
                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" id="namepr{{item.id}}">
                  {{item.product_name}}
                </a>
                <span class="stext-105 cl3">
                  MRP Rs. <span id='itempricepr{{item.id}}'>{{item.price}}</span>
                </span>
                <div class="row m-0 pt-1">
                    <span id="spanpr{{item.id}}" class="spanpr">
                      <button id="pr{{item.id}}" class="btn btn-primary cart">{{ shopdata.AddToCart }}</button>
                    </span>
                <a href="/productview/{{item.id}}"><button id="qv{{item.id}}" class="btn btn-primary ml-3">View Detail</button></a>
              </div>

                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}      
      </div>
    </div>
  </section>  
    
{% endblock body %}