{% extends 'base.html' %} 
{% block title %} Home|Products {% endblock title %}
{% block style %}

{% endblock style %} 
{% block body %}
{% load static %}
<div class="container mt-5">
  <div class="row">
  {% for item in all_products %}
  <a href="{{item.subcategory.slug}}/{{item.id}}" name={{item.id}} id="product-{{item.id}}" class="product_id text-decoration-none">
  <div class="card mx-3 mb-4 box" style="width: 15.8rem">
    <img src="/media/{{item.image}}" class="card-img-top img_heigth image" alt="..." />
    <div class="ribbon ribbon-top-left"><span>₹{{item.price}}/-</span></div>
    <div class="card-body">
      <h5 class="card-title text-dark">{{item.name}}</h5>
    </div>
  </div>
  </a>
  {% endfor %}
  </div>
</div>
{% endblock body %}
{% block js %}
<script>
$(document).ready(function(){
  $('.product_id').hover(function(){
    $(this).show();
    }, function(){
    $(this).show();
  });
});
</script>
{% endblock js %}
